/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS variables */

:root {
    --navbar-height: 60px;
}

/* Navigation Bar  */

#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
}

/* Navigation Bar Logo and Image */
#logo {
    margin: 10px 20px;
}

#logo img {
    height: 100px;
    margin: 5px 8px;
}

/* Navigation Bar List Styling */
#navbar ul {
    display: flex;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 3px black;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar ul li {

    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 12px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: black;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 2px solid black;
    background-color: white;

}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 650px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('./IMG/./BG\ \(1\).jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 785px;
    width: 100%;
    z-index: -1;
    opacity: .80;
}

#home h1 {
    color: white;
    text-align: center;
    text-shadow: -2px -2px 5px black;
    font-family: 'Secular One', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px black;
    font-family: 'Secular One', sans-serif;
}

/* Services Section */
#services {
    margin: 30px;
    display: flex;
    color: black;
    /* text-shadow: 2px 2px 3px rgb(0, 0, 0); */
}

#services .box {
    border: 4px solid rgb(0, 0, 0);
    padding: 30px;
    margin: 20px;
    background-color: rgb(206 206 206);
    color: rgb(0, 0, 0);
    border-radius: 23px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Righteous', cursive;
}

#services {}

#services {}

/* Client Section */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('./IMG/./BG\ \(2\).jpg')no-repeat center center/cover;
    height: 75%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 10px;
    ;
}

 #client img {
    height: 140px;
     width: 140px;
     padding-bottom: 85px;
}

/* Contact section */


#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('./IMG/./contact-us.jpg') no-repeat center center/cover;
}


#contactbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.2rem;
    border-radius: 8px;
    font-size: 1.3rem;
}

#contactbox form{
    width: 30%;
}

#contactbox label{
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
}

#contactbox .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */
.h-primary {
    font-family: 'Righteous', cursive;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
}

.btn {
    padding: 6px 18px;
    border: 2px solid white;
    background: black;
    color: white;
    margin: 17px 17px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.5rem;

}

.center {
    text-align: center;
}